# Project exclude paths
/.cache/
/.idea/
/__pycache__/
/cmake-build-debug/
/papers
/scripts
/results
/pics
/lttd
/Release
/uvfits
*.gif
/vak
*.png
*.txt
*.uvf
*.fits
*.mdl
*.pkl
*.json
*.so
difmap.log*
